<div class="mt-4">
    <div class="row">
        

        <div class="col-lg-3">
            <button>MUA NGAY</button>
        </div>

        <div class="col-lg-9">
            <h2>{{whey.name}}</h2>
            <img class="card-img-top" src="{{whey.image}}" alt="{{whey.name}}">
            
        </div>

       
    </div>
</div>